# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Linux
# gedit recovery files
*~
bvhs/tensions_02.bvh
bvhs/tensions_01.bvh
bvhs/lullaby_02.bvh
bvhs/lullaby_01.bvh
bvhs/guts2x4_01.bvh
bvhs/clavaeolina_01.bvh
bvhs/ariaII_02.json
bvhs/ariaII_02.bvh
bvhs/ariaII_01.bvh
bvhs/05-41_01.bvh
bvh2json.zip

jsonfx*
minijson*
tmp*
bvhs/clavaeolina_01.json
bvh2json.blend1
bvh2json.blend1
*.blend1